{% extends 'root.html' %}

{% block title %}Documents list{% endblock %}

{% block content %}
<div>
    <div>
        {% for el in doc_list %}
        <div class="card" style="width: 18rem;">
            <img src="{{ el.image.url }}" class="card-img-top" alt="{{ el.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ el.title }}</h5>
                <p class="card-text">{{ el.deadline }}</p>
                <a href="{% url 'doc:doc_detail' el.id %}" class="btn btn-primary w-100">Open</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}